.App {
    text-align: center;
    background-color: #5972a5;
    min-height: 100vh;
  }
  
  .App-header {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 1vmin);
    color: white;
  }

